.rowdies-regular {
    font-family: "Rowdies", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* .raleway-<uniquifier> {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */
  

header {
    background-image: url(./FOTOS-Y-VIDEOS/foto_encabezado.jpg); 
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.quienessomos{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.quienessomos>h3{
    text-align: center;
    font-family: 'Rowdies';
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #4fbdc5;
}

body {
    font-size: 15px;
}

#contenedor_foto {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#foto_encabezado {
    width: 550px; 
}

.flex{
    display: flex;
}

.columnas2 {
    width: 50%;
    margin: 5%;
    margin-top: 1%;
}

.columnas2>p{
    text-align: justify;
}

.centrar {
    text-align: center;
}


.titulos {
    text-align: center;
    font-family: 'Rowdies';
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #4fbdc5;
}

.justificar {
    text-align: justify;
}

.tabla1,.tabla2,td,th{
    border: 2px solid  rgb(79, 189, 197);
    background-color: rgb(179, 240, 244);
    
}

.videos1,.videos2{
    width: 100%; 
    max-width: 600px; 
    display: block;
    margin: 20px auto;
}

.videos2{
    margin-top: 11.3%;;
}

footer {
    background-color: #4fbdc5;
    color: white;
    text-align: center;
    padding: 10px 0; 
    margin-top: 40px;
}

.footer-container {
    padding: 10px; 
}

.footer-copy {
    margin-top: 5px; 
    font-size: 14px;
}
